* {
  cursor: none;
}

body {
  overflow: hidden;
}

.field {
  display: flex;
}

.cell {
  width: 115px;
  height: 115px;
  background-color: #bcbbb6;
  background-repeat: no-repeat;
  border-radius: 11px;
  margin: 3px;
}

.goblin {
  width: 112px;
  height: 112px;
  background-image: url('../img/goblin.png');
  background-repeat: no-repeat;
}

.cursor {
  position: absolute;
  width: 90px;
  height: 90px;
  background-image: url('../img/thumb.png');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
